<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.12.15/paper-full.min.js"></script>
<script type="text/paperscript" canvas="myCanvas">


// Line 1
var from = new Point(1200, 150);
var to = new Point(900, 500);
var straightLine1 = new Path.Line(from, to);
straightLine1.strokeColor = '#E7E7E7';

// Line 2
var from = new Point(1200, 150);
var to = new Point(300, 300);
var straightLine2 = new Path.Line(from, to);
straightLine2.strokeColor = '#E7E7E7';

// Line 3
var from = new Point(300, 300);
var to = new Point(300, 600);
var straightLine3 = new Path.Line(from, to);
straightLine3.strokeColor = '#E7E7E7';

// Line 4
var from = new Point(300,600);
var to = new Point(-400, 0);
var straightLine4 = new Path.Line(from, to);
straightLine4.strokeColor = '#E7E7E7';

// Line 5
var from = new Point(300,600);
var to = new Point(-100, 800);
var straightLine5 = new Path.Line(from, to);
straightLine5.strokeColor = '#E7E7E7';

// Line 6
var from = new Point(300,600);
var to = new Point(0, 2200);
var straightLine6 = new Path.Line(from, to);
straightLine6.strokeColor = '#E7E7E7';

// Line 7
var from = new Point(300,300);
var to = new Point(250, 0);
var straightLine7 = new Path.Line(from, to);
straightLine7.strokeColor = '#E7E7E7';

// Line 8
var from = new Point(300,300);
var to = new Point(500, 500);
var straightLine8 = new Path.Line(from, to);
straightLine8.strokeColor = '#E7E7E7';

// PINK circle line 1
var img1 = document.createElement("img");
img1.src = "images/circle-pink.png";
img1.id = "pink-circle-bg"
document.body.appendChild(img1);

var raster1 = new Raster('pink-circle-bg');
raster1.position = new Point(900, 500);
raster1.scale(0.2);


// GREEN circle line 1 & 2
var img2 = document.createElement("img");
img2.src = "images/circle-green.png";
img2.id = "green-circle-bg"
document.body.appendChild(img2);

var raster2 = new Raster('green-circle-bg');
raster2.position = new Point(1200, 150);
raster2.scale(0.21);


// BLUE circle line 2
var img3 = document.createElement("img");
img3.src = "images/circle-blue.png";
img3.id = "blue-circle-bg"
document.body.appendChild(img3);

var raster3 = new Raster('blue-circle-bg');
raster3.position = new Point(300, 300);
raster3.scale(0.22);


// PINK circle line 2 & 3
var img4 = document.createElement("img");
img4.src = "images/circle-pink.png";
img4.id = "pink-circle-bg"
document.body.appendChild(img4);

var raster4 = new Raster('pink-circle-bg');
raster4.position = new Point(300, 600);
raster4.scale(0.15);


// GREEN circle line 8
var img5 = document.createElement("img");
img5.src = "images/circle-green.png";
img5.id = "green-circle-bg"
document.body.appendChild(img5);

var raster5 = new Raster('green-circle-bg');
raster5.position = new Point(500, 500);
raster5.scale(0.13);


// PINK circle line 8
var img6 = document.createElement("img");
img6.src = "images/circle-pink.png";
img6.id = "pink-circle-bg"
document.body.appendChild(img6);

var raster6 = new Raster('pink-circle-bg');
raster6.position = new Point(250, 0);
raster6.scale(0.15);

// GREEN circle line 8
var img7 = document.createElement("img");
img7.src = "images/circle-green.png";
img7.id = "green-circle-bg"
document.body.appendChild(img7);

var raster7 = new Raster('green-circle-bg');
raster7.position = new Point(-100, 800);
raster7.scale(0.16);

// PINK circle line 8
var img8 = document.createElement("img");
img8.src = "images/circle-pink.png";
img8.id = "pink-circle-bg"
document.body.appendChild(img7);

var raster8 = new Raster('pink-circle-bg');
raster8.position = new Point(-400, 0);
raster8.scale(0.16);


function onFrame(event) {
	// Each frame, rotate the path by 3 degrees:
	group2.rotate(3);
}

var group2 = new Group({
    children: [straightLine1, straightLine2, straightLine3, straightLine4, straightLine5, straightLine6, straightLine7, straightLine8, raster1, raster2, raster3, raster4, raster5, raster6, raster7, raster8],
});


function onFrame(event) {
	// Each frame, rotate the path by 3 degrees:
	group2.rotate(0.01);
}

</script>

<canvas id="myCanvas" resize></canvas>