{{ $currentPage := . }}

<nav>
    <ul class="main-menu__wrapper">
        {{ range .Site.Menus.main }}
        <li class="top-menu-item {{ if .HasChildren }} menu-item-has-children{{ end }}">
            <button class="button {{ .Identifier }}" onclick="maFunction('{{ .Identifier }}')">{{ .Name }}</button>
            {{ if .HasChildren }}
            <div style="display:none;" id="{{ .Identifier }}" class="generalclass">
                    {{ range .Children }}
                        <a href="{{ .URL | relLangURL }}" class="sub-menu-link">{{ .Name }} </a>
                    {{ end }}
            </div>
            {{ end }}
        </li>
        {{ end }}
    </ul>

</nav>

<script>
  function maFunction(divid) {
  var x = document.getElementById(divid);  
  if (x.style.display === "none") 
  {
    x.style.display = "block";
  } 
  else {
    x.style.display = "none";
  }  
}
</script>