{{ define "main" }}

<article>
	<span>
{{ if eq .Title "FAQ" }}

			<h1>1. Fiscal Sponsorship</h1> 
{{ $fs := where .Site.RegularPages ".Params.categories" "intersect" (slice "Fiscal Sponsorship") }}
{{ range first 999 $fs }} 
			<div class="news-post color-{{ .Params.colors }}">       
           <div class="news-title"><h2>{{ .Title }}</h2></div>
           <div class="news-content"> {{ .Content }} </div> 
			</div>
{{ end }}
 
 			<h1>2. OMSF</h1> 
 {{ $omsf := where .Site.RegularPages ".Params.categories" "intersect" (slice "OMSF") }}
{{ range first 999 $omsf }}  
			<div class="news-post color-{{ .Params.colors }}">       
           <div class="news-title"><h2>{{ .Title }}</h2></div>
           <div class="news-content"> {{ .Content }} </div> 
			</div>
 {{ end }}
 
 
  			<h1>3. Hosted projects</h1> 
  {{ $hp := where .Site.RegularPages ".Params.categories" "intersect" (slice "Hosted projects") }}
{{ range first 999 $hp }}  
			<div class="news-post color-{{ .Params.colors }}">       
           <div class="news-title"><h2>{{ .Title }}</h2></div>
           <div class="news-content"> {{ .Content }} </div> 
			</div>
 {{ end }}
 
 			<h1>4. Other</h1>      
   {{ $other := where .Site.RegularPages ".Params.categories" "intersect" (slice "Other") }}
{{ range first 999 $other }}  
			<div class="news-post color-{{ .Params.colors }}">       
           <div class="news-title"><h2>{{ .Title }}</h2></div>
           <div class="news-content"> {{ .Content }} </div> 
			</div>
 {{ end }}
 
 
 {{ end }}

	</span>
</article>

{{ if eq .Title "News" }}
{{ $ev := where site.RegularPages "Type" "news" }}
{{ range first 999 $ev }}        
        
        <div class="news-title"><h1>{{ .Params.category }}</h1></div>
    
			<div class="news-post color-{{ .Params.colors }}">       
           <div class="news-title"><h1>{{ .Title }}</h1></div>
           <div class="news-content"> {{ .Content }} </div> 
			</div>
        {{ end }}
 
	</span>
</article>

{{ end }}
{{ end }}


