{{ define "main" }}

<section id="home">

<h1 id="making-bonds">Making bonds</h1>
<p>Building open source software and communities in molecular sciences.</p>

<img class="background-home" src="https://dawnofman.nl/omsf/background.png">

</section>

<div class="news-overview">
{{ range ( first 3 ( where .Site.Pages "Type" "post" ).ByDate ) }}
	<div class="news-post color-{{ .Params.colors }}">
           <div class="news-title"> {{ .Title }} </div>
            <div class="news-content"> {{ .Summary }} </div>   
            <a class="news-readmore bg-{{ .Params.colors }}" href="{{.RelPermalink}}">Read more</a>       
    </div>
  {{ end }}  
 </div>

 {{ partial "canvas.html" . }}

{{ end }}
